[user]
	name = bbonnet
	email = none
[push]
	default = simple
[color]
	ui = auto
[alias]
	lg = log --graph --oneline --decorate
	lga = log --graph --oneline --decorate --all
	co = checkout
	b = branch
	ci = commit
	st = status
	lgr = log --graph --format='%C(yellow)%h%Creset %ar %C(blue)%an%Creset -%C(red)%d%Creset %s'
	lgd = log --graph --format='%C(yellow)%h%Creset %ad %C(blue)%an%Creset -%C(red)%d%Creset %s' --date=short
	assume = !git ls-files -v | grep \"^[[:lower:]]\"
