[user]
	name = bbonnet
	email = none
[push]
	default = simple
[color]
	ui = auto
[pretty]
	# oneline log format with short hash, relative date, committer name, branch info, short comment
	onelinerelativedate = "tformat:%C(yellow)%h%Creset %<(8,trunc)%cr %C(blue)%<(7,trunc)%cn%Creset -%C(auto)%d%Creset %s"
	onelineabsolutedate = "tformat:%C(yellow)%h%Creset %ci %C(blue)%<(7,trunc)%cn%Creset -%C(auto)%d%Creset %s"
[alias]
	co = checkout
	b = branch
	st = status
	s = status -s
	a = add
	ci = commit
	cia = commit --amend
	r = rebase
	ri = rebase -i
	m = merge
	
	# Remote interaction
	f = fetch -p
	pl= pull
	plr = pull --rebase=merges
	p = push
	ps = push --set-upstream origin

	# Log
	l = log --graph --pretty=onelinerelativedate
	la = log --graph --pretty=onelinerelativedate --all
	ls = log --graph --pretty=onelinerelativedate --name-status
	las = log --graph --pretty=onelinerelativedate --all --name-status
	ld = log --graph --pretty=onelineabsolutedate --date=short

	# Diff & merge
	dns = diff --name-status
	d = diff --unified=0 --ignore-space-at-eol --color-words='[[:alnum:]]+|[^[:space:]]'
	dc = diff --unified=0 --ignore-space-at-eol --color-words='[[:alnum:]]+|[^[:space:]]' --cached
	dh = diff --unified=0 --ignore-space-at-eol --color-words='[[:alnum:]]+|[^[:space:]]' HEAD^!
	dt = difftool
	dtc = difftool --cached
	dth = difftool HEAD^!
	mt = mergetool

[core]
	pager = less -R
[difftool]
	prompt = false
[diff]
	tool = meld
[merge]
	tool = meld
[mergetool]
	keepBackup = false
	keepTemporaries = false
[rerere]
	enabled = true
[credential]
	helper = cache --timeout=36000
